<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="library">

        <div class="landing">
            <div class="imgBx">
                <img src=" https://slflawyers.com.au/wp-content/webpc-passthru.php?src=https://slflawyers.com.au/wp-content/uploads/2022/02/inaki-del-olmo-NIJuEQw0RKg-unsplash-1280x853.jpg&nocache=1" alt="">
            </div>
           
        </div>

        <div class="welcome">
                <%
                if (my_session.loggedin == true){ %>
            <h3 class="welcome">Welcome <%= my_session.first_Nm %>  </h3>
            <%  
            }
            %> 
        </div>
   <div class="content">

    <div class="books_nav">
        <h2>Search By Genre</h2>
            <div class="genre">
                <a href="">Educational</a>
                <a href="">Fiction</a>
                <a href="">Non-Fiction</a>
                <a href="">Reference Section</a>

        <div class="logout_btn">
            <a href="logout">Logout</a>
        </div>
            </div>
        </div>

       <div class="books">    
        <h1>All Books</h1>        
        <div class="book">            
                <% if(allBooks.length) {
                    for(var i = 0; i < allBooks.length; i++) { 
                %>
                <div class="singles">
                <form action="/library/request" method="post">

                        <div class="dets">
                            <div class="imgBx">
                                <img src="<%= allBooks[i].cover %>" alt="">
                            </div>
                        <input type="hidden"class="centered" value="<%= allBooks[i].id %>">
                        <h2><%= allBooks[i].title %></h2>
                        <div class="box">
                        <p>Subject: <%= allBooks[i].subject %></p>           
                        <p>Genre: <%= allBooks[i].genre %> </p> 
                        </div>          
                        <p>Category: <%= allBooks[i].category %> </p>                
                        <input type="hidden" value="<%= my_session.student_id %>" name="st_id">
                        <input type="hidden" value="<%= allBooks[i].title %>" name="title">
                        <input type="hidden" value="<%= new Date().toLocaleDateString('fr-CA') %>" name="date">

                        <p class="centered">
                            <a class="light" href="/library/requestedit/<%=allBooks[i].id%>/st_id/<%=allBooks[i].id%>">Read Synopsis</a> <!--this refers to the index of the current data collection which is currently stored as data-->
                            <input type="submit" value="Make a Request">
                        </p>
                        </div>
                </form>
                </div>
                <% }
            }else{ %>
                <div>
                    <p>No Books currently Listed</p>
                </div>
            <% } %>
    </div>
</div>

</div>


    </div>
    </body>
</body>
</html>